
<ul class="search-results list-style-none">
  <% 7.times do %>
    <li>
      <div class="card card--search">
        <header class="card__header">
          <label class="card__collection flex align-center">
            <span class="card__id">864</span>
            <span class="card__collection-name">
              <span class="overflow-ellipsis">[BC4] New Hey! menu</span>
            </span>
          </label>
        </header>

        <div class="card__body justify-space-between">
          <div class="card__content">
            <h3 class="card__title overflow-line-clamp">
              Ping will land on placeholder page if previous ping is exited by tapping Hey! menu
            </h3>
            <div>
              <mark class="circled-text">
                Fugiat proident ex
                <span aria-hidden></span>
              </mark>
              occaecat labore tempor Proident sit anim id laboris ipsum proident.
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
